# Load and explore the data

## Import libraries

In [1]:
# Import pandas, numpy, and matplotlib
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# seaborn is a data visualization library built on matplotlib
import seaborn as sns
# set the plotting style
sns.set_style("whitegrid")

# Model preprocessing
from sklearn.preprocessing import StandardScaler

# Modeling
import statsmodels.formula.api as smf
import statsmodels.api as sm

# Model metrics and analysis
from sklearn.metrics import r2_score, mean_squared_error, mean_absolute_error
from statsmodels.stats.anova import anova_lm

## Load the data

##### Load the EdGap data set

In [2]:
edgap = pd.read_excel(
    r'C:\Users\alexm\OneDrive - Seattle University\5100 Project\DATA5100\education\data\EdGap_data.xlsx',
    dtype={'NCESSCH School ID': object}
)

C:\Users\alexm\anaconda3\Lib\site-packages\openpyxl\worksheet\_read_only.py:85: UserWarning: Unknown extension is not supported and will be removed
  for idx, row in parser.parse():

##### download the school info data

In [4]:
!curl -O ccd_sch_029_1617_w_1a_11212017.csv https://www.dropbox.com/s/lkl5nvcdmwyoban/ccd_sch_029_1617_w_1a_11212017.csv?dl=0

Warning: No remote file name, uses "curl_response"
  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed

  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0curl: (6) Could not resolve host: ccd_sch_029_1617_w_1a_11212017.csv
  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed

  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
100   151  100   151    0     0    632      0 --:--:-- --:--:-- --:--:--   634

<a href="https://www.dropbox.com/scl/fi/o8wf1f534pb4u7uavgjxm/ccd_sch_029_1617_w_1a_11212017.csv?rlkey=k2aey38xie2vz9ge4a0v3rrib&amp;dl=0">Found</a>.

##### Load the school information data in pandas

In [3]:
school_information = pd.read_csv(
    r'C:\Users\alexm\OneDrive - Seattle University\5100 Project\DATA5100\education\data\ccd_sch_029_1617_w_1a_11212017.csv',
    encoding="unicode_escape"
)

C:\Users\alexm\AppData\Local\Temp\ipykernel_18580\3224356327.py:1: DtypeWarning: Columns (6,9,14,15,18,19,21,22,25,26,29,31,35,39,41,42) have mixed types. Specify dtype option on import or set low_memory=False.
  school_information = pd.read_csv(

## Explore the contents of the data sets

##### Start by looking at the head of each data frame.
This will let us see the names of the columns and a few example values for each column. We can also check whether the data is in tidy format.

In [4]:
edgap.head(3)

,NCESSCH School ID,CT Unemployment Rate,CT Pct Adults with College Degree,CT Pct Childre In Married Couple Family,CT Median Household Income,School ACT average (or equivalent if SAT score),School Pct Free and Reduced Lunch
0,100001600143,0.117962,0.445283,0.346495,42820.0,20.433455,0.066901
1,100008000024,0.063984,0.662765,0.767619,89320.0,19.498168,0.112412
2,100008000225,0.056460,0.701864,0.713090,84140.0,19.554335,0.096816

##### School information data set

In [5]:
school_information.head(3)

,SCHOOL_YEAR,FIPST,STATENAME,ST,SCH_NAME,LEA_NAME,STATE_AGENCY_NO,UNION,ST_LEAID,LEAID,...,G_10_OFFERED,G_11_OFFERED,G_12_OFFERED,G_13_OFFERED,G_UG_OFFERED,G_AE_OFFERED,GSLO,GSHI,LEVEL,IGOFFERED
0,2016-2017,1,ALABAMA,AL,Sequoyah Sch - Chalkville Campus,Alabama Youth Services,1,NaN,AL-210,100002,...,Yes,Yes,Yes,No,No,No,07,12,High,As reported
1,2016-2017,1,ALABAMA,AL,Camps,Alabama Youth Services,1,NaN,AL-210,100002,...,Yes,Yes,Yes,No,No,No,07,12,High,As reported
2,2016-2017,1,ALABAMA,AL,Det Ctr,Alabama Youth Services,1,NaN,AL-210,100002,...,Yes,Yes,Yes,No,No,No,07,12,High,As reported

In [8]:
pd.set_option('display.max_columns', None)

school_information.head(3)

,SCHOOL_YEAR,FIPST,STATENAME,ST,SCH_NAME,LEA_NAME,STATE_AGENCY_NO,UNION,ST_LEAID,LEAID,ST_SCHID,NCESSCH,SCHID,MSTREET1,MSTREET2,MSTREET3,MCITY,MSTATE,MZIP,MZIP4,LSTREET1,LSTREET2,LSTREET3,LCITY,LSTATE,LZIP,LZIP4,PHONE,WEBSITE,SY_STATUS,SY_STATUS_TEXT,UPDATED_STATUS,UPDATED_STATUS_TEXT,EFFECTIVE_DATE,SCH_TYPE_TEXT,SCH_TYPE,RECON_STATUS,OUT_OF_STATE_FLAG,CHARTER_TEXT,CHARTAUTH1,CHARTAUTHN1,CHARTAUTH2,CHARTAUTHN2,NOGRADES,G_PK_OFFERED,G_KG_OFFERED,G_1_OFFERED,G_2_OFFERED,G_3_OFFERED,G_4_OFFERED,G_5_OFFERED,G_6_OFFERED,G_7_OFFERED,G_8_OFFERED,G_9_OFFERED,G_10_OFFERED,G_11_OFFERED,G_12_OFFERED,G_13_OFFERED,G_UG_OFFERED,G_AE_OFFERED,GSLO,GSHI,LEVEL,IGOFFERED
0,2016-2017,1,ALABAMA,AL,Sequoyah Sch - Chalkville Campus,Alabama Youth Services,1,NaN,AL-210,100002,AL-210-0020,1.000020e+10,100277.0,P O Box 9486,NaN,NaN,Birmingham,AL,35220,NaN,1000 Industrial School Road,NaN,NaN,Birmingham,AL,35220,NaN,(205)680-8574,http://www.dys.alabama.gov,1,Open,1,Open,03/03/2010,Alternative School,4,No,No,No,NaN,NaN,NaN,NaN,No,No,No,No,No,No,No,No,No,Yes,Yes,Yes,Yes,Yes,Yes,No,No,No,07,12,High,As reported
1,2016-2017,1,ALABAMA,AL,Camps,Alabama Youth Services,1,NaN,AL-210,100002,AL-210-0050,1.000020e+10,101667.0,P O Box 66,NaN,NaN,Mt Meigs,AL,36057,NaN,1601 County Rd. 57,NaN,NaN,Prattville,AL,36067,NaN,(334)215-3850,http://www.dys.alabama.gov,1,Open,1,Open,03/03/2010,Alternative School,4,No,No,No,NaN,NaN,NaN,NaN,No,No,No,No,No,No,No,No,No,Yes,Yes,Yes,Yes,Yes,Yes,No,No,No,07,12,High,As reported
2,2016-2017,1,ALABAMA,AL,Det Ctr,Alabama Youth Services,1,NaN,AL-210,100002,AL-210-0060,1.000020e+10,101670.0,P O Box 66,NaN,NaN,Mt Meigs,AL,36057,NaN,2109 Bashi Rd Bldg 509,NaN,NaN,Thomasville,AL,36784,NaN,(334)215-3850,http://www.dys.alabama.gov,1,Open,1,Open,03/03/2010,Alternative School,4,No,No,No,NaN,NaN,NaN,NaN,No,No,No,No,No,No,No,No,No,Yes,Yes,Yes,Yes,Yes,Yes,No,No,No,07,12,High,As reported

##### Use the `info` method to check the data types, size of the data frame, and numbers of missing values.

In [9]:
edgap.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7986 entries, 0 to 7985
Data columns (total 7 columns):
 #   Column                                           Non-Null Count  Dtype
---  ------                                           --------------  -----
 0   NCESSCH School ID                                7986 non-null   object
 1   CT Unemployment Rate                             7972 non-null   float64
 2   CT Pct Adults with College Degree                7973 non-null   float64
 3   CT Pct Childre In Married Couple Family          7961 non-null   float64
 4   CT Median Household Income                       7966 non-null   float64
 5   School ACT average (or equivalent if SAT score)  7986 non-null   float64
 6   School Pct Free and Reduced Lunch                7986 non-null   float64
dtypes: float64(6), object(1)
memory usage: 436.9+ KB

##### School information data set

In [10]:
school_information.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 102183 entries, 0 to 102182
Data columns (total 65 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   SCHOOL_YEAR          102183 non-null  object
 1   FIPST                102183 non-null  int64
 2   STATENAME            102183 non-null  object
 3   ST                   102183 non-null  object
 4   SCH_NAME             102183 non-null  object
 5   LEA_NAME             102183 non-null  object
 6   STATE_AGENCY_NO      102183 non-null  object
 7   UNION                2533 non-null    float64
 8   ST_LEAID             102183 non-null  object
 9   LEAID                102183 non-null  object
 10  ST_SCHID             102183 non-null  object
 11  NCESSCH              102181 non-null  float64
 12  SCHID                102181 non-null  float64
 13  MSTREET1             102181 non-null  object
 14  MSTREET2             1825 non-null    object
 15  MSTREET3             28 non-null      object
 16  MCITY                102183 non-null  object
 17  MSTATE               102183 non-null  object
 18  MZIP                 102183 non-null  object
 19  MZIP4                60419 non-null   object
 20  LSTREET1             102183 non-null  object
 21  LSTREET2             582 non-null     object
 22  LSTREET3             13 non-null      object
 23  LCITY                102183 non-null  object
 24  LSTATE               102183 non-null  object
 25  LZIP                 102183 non-null  object
 26  LZIP4                59145 non-null   object
 27  PHONE                102183 non-null  object
 28  WEBSITE              51983 non-null   object
 29  SY_STATUS            102181 non-null  object
 30  SY_STATUS_TEXT       102181 non-null  object
 31  UPDATED_STATUS       102181 non-null  object
 32  UPDATED_STATUS_TEXT  102181 non-null  object
 33  EFFECTIVE_DATE       102181 non-null  object
 34  SCH_TYPE_TEXT        102181 non-null  object
 35  SCH_TYPE             102181 non-null  object
 36  RECON_STATUS         102181 non-null  object
 37  OUT_OF_STATE_FLAG    102179 non-null  object
 38  CHARTER_TEXT         102179 non-null  object
 39  CHARTAUTH1           6687 non-null    object
 40  CHARTAUTHN1          6687 non-null    object
 41  CHARTAUTH2           116 non-null     object
 42  CHARTAUTHN2          116 non-null     object
 43  NOGRADES             102179 non-null  object
 44  G_PK_OFFERED         102179 non-null  object
 45  G_KG_OFFERED         102179 non-null  object
 46  G_1_OFFERED          102179 non-null  object
 47  G_2_OFFERED          102179 non-null  object
 48  G_3_OFFERED          102179 non-null  object
 49  G_4_OFFERED          102179 non-null  object
 50  G_5_OFFERED          102179 non-null  object
 51  G_6_OFFERED          102179 non-null  object
 52  G_7_OFFERED          102179 non-null  object
 53  G_8_OFFERED          102179 non-null  object
 54  G_9_OFFERED          102179 non-null  object
 55  G_10_OFFERED         102179 non-null  object
 56  G_11_OFFERED         102179 non-null  object
 57  G_12_OFFERED         102179 non-null  object
 58  G_13_OFFERED         102179 non-null  object
 59  G_UG_OFFERED         102179 non-null  object
 60  G_AE_OFFERED         102179 non-null  object
 61  GSLO                 102179 non-null  object
 62  GSHI                 102179 non-null  object
 63  LEVEL                102179 non-null  object
 64  IGOFFERED            102179 non-null  object
dtypes: float64(3), int64(1), object(61)
memory usage: 50.7+ MB

## Summary

1.  The school information data set is much larger than the EdGap data set. Clearly the EdGap data set does not include all schools.

2.  There are missing values in each data set.

3.  Each data set is in a tidy, or long format.

4.  The data types for the variables of interest look correct, but the school identifier is an `object` in the EdGap data set and a `float64` in the school information data set.

# Are the data suitable for answering the question?

We want to perform quick exploratory data analysis to determine whether the data are sufficient to answer our question. If the data are not sufficient, we do not want to waste time doing anything that will not be productive.

Make a pair plot to explore relationships between the variables.

In [ ]:
sns.pairplot(
    edgap.drop(columns="NCESSCH School ID")
);
plt.show()

<pre>
























</pre>

##### Add regression lines and format the pair plot

In [ ]:
fig = sns.pairplot(
    edgap.drop(columns="NCESSCH School ID"),
    kind="reg",
    plot_kws={
        "line_kws": {"color": "blue"},
        "scatter_kws": {"alpha": 0.5, "color": "k", "s": 7},
    },
)

for ax in fig.axes.flat:
    if ax.get_xlabel() == 'CT Median Household Income':
        ax.ticklabel_format(style='sci', axis='x', scilimits=(0,0))  # Apply scientific notation
    ax.set_xlabel(ax.get_xlabel(), fontsize=8, rotation=30, ha='right')  # X-axis label size and rotation
    ax.set_ylabel(ax.get_ylabel(), fontsize=8)  # Y-axis label size

    # Rotate x-axis tick labels
    plt.setp(ax.get_xticklabels(), rotation=30, ha='right')


plt.show()

<pre>
























</pre>

##### Plot a single row

In [ ]:
fig = sns.pairplot(
    edgap.drop(columns="NCESSCH School ID"),
    y_vars=['School ACT average (or equivalent if SAT score)'],
    kind="reg",
    plot_kws={
        "line_kws": {"color": "blue"},
        "scatter_kws": {"alpha": 0.5, "color": "k", "s": 7},
    },
)

for ax in fig.axes.flat:
    if ax.get_xlabel() == 'CT Median Household Income':
        ax.ticklabel_format(style='sci', axis='x', scilimits=(0,0))  # Apply scientific notation
    ax.set_xlabel(ax.get_xlabel(), fontsize=8, rotation=30, ha='right')  # X-axis label size and rotation
    ax.set_ylabel(ax.get_ylabel(), fontsize=8)  # Y-axis label size

    # Rotate x-axis tick labels
    plt.setp(ax.get_xticklabels(), rotation=30, ha='right')

plt.show()

<pre>
























</pre>

## Summary

1. There appears to be a relationship between the socioeconomic variables and the ACT score.

2.  There are some out-of-range ACT and percent lunch values that will need to be dealt with.

3.  We should have confidence that it is worthwhile to spend time preparing the data for analysis.

<pre>





























</pre>

# Data Preparation

## Select relevant subsets of the data

The school information data set contains many columns. We only need the year, school identity, location, and school type information.

Keep the columns `SCHOOL_YEAR`, `NCESSCH`, `LSTATE`, `LZIP`, `SCH_TYPE_TEXT`, `LEVEL`, `CHARTER_TEXT`

In [ ]:
school_information = school_information[
    ['SCHOOL_YEAR', 'NCESSCH', 'LSTATE', 'LZIP', 'SCH_TYPE_TEXT', 'LEVEL', 'CHARTER_TEXT']
]

In [ ]:
school_information.head()

<pre>
























</pre>

## Rename columns

We will rename the columns to follow best practices of style and being informative. We can do this before or after joining the data sets. We will do it before joining the data sets to make it obvious that the key has the same name in each data set (this isn't required, but it makes your work easier to read).

In [ ]:
edgap = edgap.rename(
    columns={
        "NCESSCH School ID": "id",
        "CT Pct Adults with College Degree": "percent_college",
        "CT Unemployment Rate": "rate_unemployment",
        "CT Pct Childre In Married Couple Family": "percent_married",
        "CT Median Household Income": "median_income",
        "School ACT average (or equivalent if SAT score)": "average_act",
        "School Pct Free and Reduced Lunch": "percent_lunch",
    }
)

<pre>
























</pre>

##### Rename the columns `SCHOOL_YEAR`, `NCESSCH`, `LSTATE`, `LZIP`, `SCH_TYPE_TEXT`, `LEVEL`, `CHARTER_TEXT` to `year`, `id`, `state`, `zip_code`, `school_type`, `school_level`, `charter`

In [ ]:
school_information = school_information.rename(
    columns={
        "SCHOOL_YEAR": "year",
        "NCESSCH": "id",
        "LSTATE": "state",
        "LZIP": "zip_code",
        "SCH_TYPE_TEXT": "school_type",
        "LEVEL": "school_level",
        "CHARTER_TEXT": "charter"
    }
)

In [ ]:
edgap.head()

In [ ]:
school_information.head()

<pre>
























</pre>

## Summary

1. We selected a subset of columns of the school information data set.

2.  We renamed the columns for clarity and to follow formatting guidelines.

3.  We are ready to join the data frames.

<pre>





























</pre>

# Join data frames

We want to join the DataFrames using the identity of the school as the key. The identity is given by the NCESSCH school identity. The value is an `object` in the EdGap data set and a `float64` in the school information data set.

We will cast the `id` column in the `school_information` DataFrame as an `object`.

In [ ]:
school_information['id'] = school_information['id'].astype('object')

In [ ]:
school_information.info()

<pre>
























</pre>

##### Join the data frames and call the result `df`.

In [ ]:
df = edgap.merge(
    school_information,
    how='left',
    on='id'
)

In [ ]:
df.head()

In [ ]:
df.info()

<pre>
























</pre>

## Summary

1. We joined the data sets using the school `id` as the key.

2. We first cast the `id` as an object to have the same data type for the key in each data set.

3. We used a left join to keep all EdGap data.

<pre>





























</pre>

# Quality Control

##### There are natural bounds for the numerical variables in the data set. Check the minimum and maximum values in each column.

We can use the `describe()` method to compute descriptive statistics

In [ ]:
df.describe()

<pre>
























</pre>

##### or use the `min` and `max`

In [ ]:
df.select_dtypes(include=['number']).agg(['min', 'max']).round(2)

<pre>
































</pre>

##### Set out-of-range values to `NaN` using `np.nan`.

In [ ]:
df.loc[df['percent_lunch'] < 0, 'percent_lunch'] = np.nan

In [ ]:
df.loc[df['average_act'] < 1, 'average_act'] = np.nan

<pre>





























</pre>

##### Check the types, levels, and charter status of schools

In [ ]:
df['school_type'].value_counts()

In [ ]:
df['school_level'].value_counts()

In [ ]:
df['charter'].value_counts()

<pre>





























</pre>

##### Keep only the high schools.

In [ ]:
df = df.loc[df['school_level'] == 'High']

<pre>
































</pre>

##### Check for any duplicated rows

In [ ]:
df.duplicated().sum()

<pre>




























</pre>

##### It is possible that there are incorrectly recorded values in the data set, but we will not go that far in this example.

<pre>
























</pre>

## Identify missing values

How many values of each variable are missing?

In [ ]:
df.isna().sum().to_frame(name='Number of Missing Values')

<pre>
























</pre>

##### What percentage of values of each variable are missing?

In [ ]:
percent_missing = df.isna().mean().round(4) * 100

percent_missing.to_frame(name='Percent Missing Values')

<pre>
























</pre>

##### What states do we have data from?

In [ ]:
df['state'].value_counts()

In [ ]:
df['state'].nunique()

<pre>
























</pre>

##### Plot the results on a map

In [ ]:
import plotly.offline as po
import plotly.graph_objs as pg

In [ ]:
layout = dict(
    geo={"scope": "usa"}, coloraxis_colorbar=dict(title="Number of Schools")
)

data = dict(
    type="choropleth",
    locations=df["state"].value_counts().index,
    locationmode="USA-states",
    z=df["state"].value_counts().values,
    coloraxis="coloraxis",
)

x = pg.Figure(data=[data], layout=layout)

po.iplot(x)

<pre>
























</pre>

##### We are missing a large amount of USA data due to omission. This is not evident by examining `NaN` values in the data set.

We could obtain this information from public records, but we will not do that here.

<pre>
























</pre>



##### Drop the rows where the average ACT score is missing

In [ ]:
df = df.dropna(subset=['average_act'])

In [ ]:
df.isna().sum().to_frame(name='Number of Missing Values')

<pre>
























</pre>

##### If we drop rows that have `NaNs` for any socioeconomic variables, then we will negatively affect our analysis using the variables where data were present. So, we will not drop the rows in this data set that are missing the socioeconomic variables. We will impute the missing values.

<pre>
























</pre>

## Summary

1. We set out-of-range values to `NaN` and will impute them.

2. We kept only high schools.

3.  We removed schools where we do not have the ACT score.

4.  Many schools are missing from the data by omission.

5.  We will impute missing values of socioeconomic variables.

<pre>





























</pre>

# Data imputation

##### Define the predictor variables to be `rate_unemployment`, `percent_college`, `percent_married`, `median_income`, `percent_lunch`, `state`, and `charter`.

In [ ]:
predictor_variables = [
    'rate_unemployment',
    'percent_college',
    'percent_married',
    'median_income',
    'percent_lunch',
    'state',
    'charter'
]

<pre>
























</pre>

##### Use the iterative imputer to replace missing values in the columns corresponding to predictor variables in the analysis.

In [ ]:
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer

In [ ]:
imputer = IterativeImputer()

<pre>
























</pre>

##### Fit the imputer using the numerical predictor variables (this can include dummies for categorical variables).

Define the columns you want to use in the imputation process

In [ ]:
numerical_predictors = df[predictor_variables].select_dtypes(include='number').columns.to_list()

print(numerical_predictors)

<pre>
























</pre>

##### Fit the imputer

In [ ]:
imputer.fit(df.loc[:, numerical_predictors])

<pre>
























</pre>

##### Impute the missing values in the training data.

In [ ]:
df.loc[:, numerical_predictors] = imputer.transform(df.loc[:, numerical_predictors])

<pre>
























</pre>

##### Check for missing values

In [ ]:
df.isna().sum().to_frame(name='Number of Missing Values')

<pre>
























</pre>

###### Export the clean data set

In [ ]:
df.to_csv(
    'education_clean.csv',
    encoding='utf-8-sig',
    index=False
)

In [ ]:
from google.colab import files

files.download('education_clean.csv')

## Summary

1. We used an interative imputer to estimate missing values of numerical predictor variables

2. We saved the clean data frame as a csv file.